{% extends 'onlinetest/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'onlinetest/css/questions.css' %}">


<div class="row">
    <div class="col-lg-2 align-items-end">
        <div style="z-index: 950; position: sticky; display: flex; justify-content: center;top:0;">
            <div class="sticky" id="countdown">
                <p>Time Left</p>
                <div class="canvas-container" style="display: flex; align-items: center;">
                    <canvas id="hours" style="padding: 0.20em;"></canvas>
                    <canvas id="minutes" style="padding: 0.20em;"></canvas>
                    <canvas id="seconds" style="padding: 0.20em;"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 align-content-start text-start">
        <div class="container">
            <div class="category easy">
                <h1 class="category-heading">Category: Easy</h1>
                {% for question in questions.easy %}
                {% include 'onlinetest/question_layout.html' %}
                {% endfor %}
            </div>
            <div class="category medium">
                <h1 class="category-heading">Category: Medium</h1>
                {% for question in questions.medium %}
                {% include 'onlinetest/question_layout.html' %}
                {% endfor %}
            </div>
            <div class="category hard">
                <h1 class="category-heading">Category: Hard</h1>
                {% for question in questions.hard %}
                {% include 'onlinetest/question_layout.html' %}
                {% endfor %}
            </div>


            <div class="text-center">
                <a href="{{ '/finish/' }}" class="btn finish-btn">Finish</a>
            </div>
            <br>
            <br><br><br><br><br>
            {% include 'components/footer.html' %}
        </div>

    </div>
</div>


</div>



<script src="{% static 'onlinetest/js/main.js' %}"></script>
<script src="{% static 'onlinetest/js/timer.js' %}"></script>
<script src="{% static 'onlinetest/js/jquery.toast.min.js' %}"></script>

<script>
    var t_left = `{{ time_left }}`;
    console.log(t_left);
    var init_time = parseInt(t_left); // for timer element
    var tleft = parseInt(t_left); // for updating timer
    startTimer();
    start_timer_updater(init_time);

    if (!sessionStorage.getItem('show_instruction')) {
        $.toast({
            text: '<span style="font-family:Slackey; font-size: 1em;">Please submit every question individually before moving onto the next!</span>',
            heading: '<span style="font-family:Slackey; font-size: 1em;">Instruction</span><br/>',

            showHideTransition: 'fade',
            allowToastClose: true,
            hideAfter: 7500,
            stack: 5,

            bgColor: '#e4e4e4',
            textColor: '#322b2b',
            textAlign: 'left',
            loader: true,
            loaderBg: '#5265F5',
        });

        sessionStorage.setItem('show_instruction', true);
    }

    checkForToast = () => {
        if (Math.floor(t_left) == 600) {
            $.toast({
                heading: '<span style="font-family:Slackey; font-size: 1em;">Information</span><br/>',
                text: '<span style="font-family:Slackey; font-size: 1em;">Last 10 minutes remain! Please submit all the questions before continuing!</span>',
                showHideTransition: 'slide',
                icon: 'info',
                hideAfter: 5000,
            })
        }
        else if (Math.floor(t_left) == 60) {
            $.toast({
                heading: '<span style="font-family:Slackey; font-size: 1em;">Information</span><br/>',
                text: '<span style="font-family:Slackey; font-size: 1em;">Last minute! Please submit all your questions!</span>',
                showHideTransition: 'slide',
                icon: 'warning',
                hideAfter: 6000
            })
        }
        t_left -= 1;
    }

    setInterval(checkForToast, 1000);
</script>

{% endblock %}